.header
{
border-right: 1px solid #000000;
font-size:12px;
text-align:justify;
font-style:bold;
}
.field
{
border-right: 1px solid #000000;
font-size:14px;
text-align:center;
}
table.top
{
text-align:center;
width:100%;
border-collapse:collapse;
}
.head
{
vertical-align:text-top;
font-size:26;
}
.formname
{
text-align:justify;
vertical-align:text-top;
font-size:20;
}
.headinfo
{
vertical-align:text-top;
font-size:15;
}
.headaddress
{
vertical-align:text-top;
font-size:18;
}
.phone
{
font-size:14;
}
.po
{
border-collapse:collapse;
}
.pono
{
font-size:14;
text-align:center;
border-collapse:collapse;
border: 1px solid black;
}
.poinfo
{
font-size:11;
text-align:justify;
border-collapse:collapse;
border: 1px solid black;
}
.date
{
border-bottom: 1px solid black;
}
.shipto
{
text-align:right;
font-size:14;
}
.addresses
{
font-size:14;
text-align:justify;
border-bottom: 1px solid #000000;
border-collapse:collapse;
}
table.mid
{
font-size:14;
text-align:center;
width:100%;
border-collapse:collapse;
border: 1px solid black;
}
table.lines
{
width:100%;
border-collapse:collapse;
font-size:14;
}
.line
{
text-align:center;
}
.total
{
text-align:right;
}
.des
{
text-align:justified;
}
table.note
{
width:100%;
border-collapse:collapse;
font-size:14;
}

.notehead
{
text-align:justify;
border-collapse:collapse;
}
.notes
{
text-align:justify;
border-collapse:collapse;
border-bottom: 1px solid black;
}
.confirm
{
text-align:center;
font-size:16;
}
table.bot
{
width:100%;
border-collapse:collapse;
border: 1px solid black;
}
.poterms
{
font-size:10;
border-right: 1px solid black;
text-align:justify;
}
.agenthead
{
text-align:right;
}
.qchead
{
font-size:12;
text-align:right;
}
.qc
{
font-size:12;
text-align:center;
}
.forminfo
{
font-size:14;
}
.formtype
{
font-size:16;
text-align:center;
}
.pageno
{
font-size:16;
text-align:right;
}
@media all
{
  .page-break { display:none; }
}

@media print
{
  .page-break { display:block; page-break-before:always; }
}
body
{
font-family:"Arial", Arial, sans-serif;
}
