.header
{
border-right: 1px solid #000000;
font-size:12px;
text-align:justify;
font-style:bold;
}
.field
{
border-right: 1px solid #000000;
font-size:14px;
text-align:center;
}
table.top
{
text-align:center;
width:100%;
border-collapse:collapse;
}
.head
{
vertical-align:text-top;
font-size:36;
letter-spacing:6px;
}
.formname
{
text-align:justify;
vertical-align:text-top;
font-size:20;
}
.headinfo
{
vertical-align:text-top;
font-size:15;
}
.headaddress
{
vertical-align:text-top;
font-size:14;
}
.po
{
border-collapse:collapse;
}
.pono
{
font-size:15;
text-align:center;
border-collapse:collapse;
border: 1px solid black;
}
.address
{
text-align:justify;
border-collapse:collapse;
font-size:15;
}
table.mid
{
font-size:12;
text-align:center;
width:100%;
border-collapse:collapse;
border: 1px solid black;
}
table.lines
{
width:100%;
border-collapse:collapse;
border: 1px solid black;
font-size:14;
}
.headline
{
border-right: 1px solid black;
text-align:center;
}
.line
{
height: 35;
border-right: 1px solid black;
text-align:center;
}
.des
{
border-right: 1px solid black;
text-align:justified;
}
table.bot
{
text-align:center;
width:100%;
border-collapse:collapse;
border: 1px solid black;
}
pre.forminfo
{
font-size:12;
font-family:"Arial", Arial, sans-serif;
}
@media all
{
  .page-break { display:none; }
}

@media print
{
  .page-break { display:block; page-break-before:always; }
}
body
{
font-family:"Arial", Arial, sans-serif;
}
