div,table,th,td
{
	font-family:"Courier New", Courier, Monospace;
	font-size:8pt;
}
div.page_header
{
	width:100%;
}
table.page_header
{
	width:100%;
}
div.add_page_header
{

}
table.add_page_header
{
	page-break-before:always;
}
div.blank_rows
{
}
table.blank_rows
{
	width:100%;
	border-style:dashed;
	border-width:1px;
	border-collapse:collapse;
}
td.blank_rows
{
	border-style:dashed;
	border-width:1px;
	height:16px;
}
div.procedure
{
}
table.procedure
{
	width:100%;
	border-style:dashed;
	border-width:1px;
	border-collapse:collapse;
}
th.procedure
{
	border-style:dashed;
	border-width:1px;
}
td.procedure
{
	border-style:dashed;
	border-width:1px;
}
div.material
{
}
table.material
{
	width:100%;
	border-style:dashed;
	border-width:1px;
	border-collapse:collapse;
}
th.material
{
	border-style:dashed;
	border-width:1px;
}
td.material
{
	border-style:dashed;
	border-width:1px;
}
div.specs
{
}
table.specs
{
	width:100%;
	border-style:dashed;
	border-width:1px;
	border-collapse:collapse;
}
th.specs
{
	border-style:dashed;
	border-width:1px;
}
td.specs
{
	border-style:dashed;
	border-width:1px;
/*	white-space:nowrap;*/
}
div.flysheet
{
}
table.flysheet
{
	width:100%;
	border-style:dashed;
	border-width:1px;
	border-collapse:collapse;
}
th.flysheet
{
	border-style:dashed;
	border-width:1px;
}
td.flysheet
{
	border-style:dashed;
	border-width:1px;
}
